.app 
    max-width: 980px
    margin: auto
    background-color: transparent
    display: flex
    flex-direction: column
    justify-content: center

.header 
    display: flex
    justify-content: space-between
    align-items: center

    & .title
        font-family: 'Damion', sans-serif;
        font-size: 80px;
        line-height: 100px;
        text-shadow: 6px 5px 0px #3F51B5;

.subheader
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

.container
    background: #3F51B5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    box-shadow: 5px 5px 0px #283593;
    border: 1px solid #000000;
