.app 
    max-width: 980px
    margin: auto
    background-color: transparent
    display: flex
    flex-direction: column
    justify-content: center

.header 
    display: flex
    justify-content: space-between
    align-items: center

    & .title
        font-family: 'Damion', sans-serif;
        font-size: 80px;
        line-height: 100px;
        text-shadow: 6px 5px 0px #3F51B5;

.subheader
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

.container
    background: #3F51B5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    box-shadow: 5px 5px 0px #283593;
    border: 1px solid #000000;

.result-block
    background: #3f51b5bb;
    min-height: 300px;
    box-shadow: 5px 5px #283593bb;
    border: 1px solid black;
    margin: 20px;
    text-align: center;

.result-block__overtitle
    font-size: 20px;
    font-weight: 300;
    line-height: 0;
    margin-top: 30px;

.result-block__title
    font-size: 60px;
    padding: 20px;
    font-family: 'Damion';
    text-shadow: 4px 4px #283593, 0px 0px 50px cyan;

.result-block__summary
    width: 60%;
    margin: 0 auto;
    text-align: justify;
    line-height: 1.5;

.try-again
    background: #00bcd4cc;
    color: white;
